body {
    background: #000A14;
}

td {
    width: 20px;
    height: 20px;
}
      
#game {
    border: 20px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    position: absolute;
    top: 12%;
}

.game-level1 {
    left: 38%;
}

.game-level2 {
    left: 31%;
}

.game-level3 {
    left: 15%;
}

#status {
    background: lightgray;
    padding: 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
       
#board {
    position: relative;
    paddding: 10px;
    border: 1px solid black;
}

.block {
    background: lightgray;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-bottom: 3px solid darkgray;
    border-right: 3px solid darkgray;
}

.smiley-space1 {
    margin-left: 26%;
}

.smiley-space2 {
    margin-left: 34%;
}

.smiley-space3 {
    margin-left:41%;
}

.blank-block {
    border: none;
    background: darkgray;
    padding: 4px 4px;
}

.node-value {
    padding: 4px 4px;
    font-size: 16px;
}

.red-block {
    border: none;
    background: red;
    padding: 4px 4px;
}
.menu {
    position: absolute;
    top: 1%;
    left: 37%;
    padding: 15px;
    width: 340px;
    color: brown;
    border: 2px solid gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}