       body{background:#000A14;}
       td{
	   width:20px;
	   height:20px;
       }
      
       #game{
       border:20px solid black;
       border-radius:5px;
       -chrome-border-radius:5px;
       position:absolute;
       top:10%;
       left:38%
       }

       #status{
       background:lightgray;
       padding:5px;
       border-radius:3px;
       -chrome-border-radius:3px;
       }
       
       #board{
       position:relative;
       paddding:10px;
       border:1px solid black;
       }

       .block{
        background:lightgray;
        border-top:3px solid white;
        border-left:3px solid white;
        border-bottom:3px solid darkgray;
        border-right:3px solid darkgray;
       }

       .smiley-space{
	   margin-left:26%;
       }

       .blank-block{
	   border: none;
	   background: darkgray;
	   padding:4px 4px;
       }

       .node-value{
	   color: blue;
	   padding:4px 4px;
	   font-size:16px;
       }